.container {
    width: 1000px;
    display: flex;
    border: 1px solid black;
}
.box {
    background-color: rgb(53, 145, 114);
    color: beige;
    flex-basis: 100px;
    border: 1px solid black;
}
.one, .four {
    flex-grow: 1;
}
.two {
    flex-grow: 3;
}
.three, .five {
    flex-grow: 2;
}